@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: HelloKitty;
    src: url('Hello\ Kitty.otf');
}
@font-face {
    font-family: Minecraft;
    src: url('Minecraft.ttf');
}
@media only screen and (orientation: portrait) {
    section {
        margin: 0 auto 0 auto;
        width: 90%;
    }
}
@media only screen and (min-width:900px) {
    section {
        width: 23.2%;
    }
}

* {
    font-family: "Oswald";
    letter-spacing: 1px;
}
body {
    margin:0;
    background-color: lightpink;
}
header span {
    font-family: HelloKitty;
    font-size: 150px;
    font-weight: 300;
    position: absolute;
    top:-10px;
}
header, footer {
    background-color: palevioletred;
    padding:20px;
    text-align: center;
    clear: both;
}
header {
    height: 100px;
}
footer {
    height: 50px;
}
section {
    background-color: pink;
    height: 500px;
    float:left;
    margin:5px;
    box-shadow: 0 0 10px gray;
    padding:10px;
    border-radius: 15px;
}
section {
    background-color: pink;
    height: 500px;
    float:left;
    margin:5px;
    box-shadow: 0 0 10px gray;
    padding:10px;
    border-radius: 15px;
}
footer p {
    float:right;
    position: relative;
    bottom:45px;
    font-size: 20px;
}
#o {
    font-family: HelloKitty;
    font-size: 100px;
}
#data {
    position: relative;
    top:10px;
    font-size: 20px;
}

#sekcja1{
    padding:10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    overflow: hidden;
    text-align: center;
}

#sekcja2 {
    display: grid;
    align-items: center;

}
#sekcja2 img{
    margin:auto;
}
#earth {
    width: 50px;
}
#sun {
    width: 150px;
}
#galaxy {
    width: 300px;
}
#heart {
    width: 400px;
}
#sekcja2 button {
    background-color: palevioletred;
    border: 2px solid #fff;
    color:#fff;
    margin:auto;
    width: 90%;
    border-radius: 10px;
    padding:4px
}
#sekcja2 button:hover {
    background-color: #c75178;
    transform: scale(1.05);
    cursor: pointer;
}

#sekcja3 {
    display: grid;
    align-items: center;
}
#sekcja3 img {
    margin:auto;
}
#sekcja3 button {
    background-color: palevioletred;
    border: 2px solid #fff;
    color:#fff;
    margin:auto;
    width: 90%;
    border-radius: 10px;
    padding:4px
}
#sekcja3 button:hover {
    background-color: #c75178;
    transform: scale(1.05);
    cursor: pointer;
}
#kwiaty {
    width: 300px;
}
#sekcja3 h2 {
    text-align: center;
}

.zdjecie {
    width: 400px;
    height: 500px;
    border-radius: 10px;
}